Source: tor-router
Section: net
Priority: optional
Maintainer: m4dm4x1337 <madmax@earth.local>
Bugs: https://github.com/m4dm4x1337/tor-router/issues
Standards-Version: 4.6.2

Package: tor-router
Architecture: all
Depends: coreutils (>= 8.5), grep (>= 2.5.4), iproute2, ipset, iptables, libc-bin (>= 2.9), logrotate, lsb-base, netbase, procps, rsyslog, sed (>= 4.2), tor
Recommends: dnsutils
Suggests: tor-router-gnome, tor-router-web-gui
Homepage: https://github.com/m4dm4x1337/tor-router
Description: Transparent TOR proxy and DNS proxy with routing capability
 Tor-Router uses your operating system's packet filtering facility to 
 redirect outbound connections into a transparent proxy. There are two 
 common use cases for Tor's transparent routing functionality.
 .
 The first use case is routing all traffic on a standalone machine through 
 Tor. Once this is set up, every network application will make its TCP 
 connections through Tor, no application will be able to reveal your IP 
 address by connecting directly.
 .
 The second use case is creating an anonymizing middlebox, for example a 
 Raspberry Pi WiFi hotspot, that intercepts traffic from other machines 
 and redirects it through Tor.
